<!DOCTYPE html>
<html lang="en">
  <%- include("../fragmente/head.ejs"); %>

  <body style="overflow-x: hidden">
    <%- include("../fragmente/header.ejs"); %> <%-
    include("../fragmente/fixed-elements.ejs"); %>
    <div style="margin-left: 40px; margin-right: 40px"">
      <div>
        <h2 style="font-size: 25px; margin: 10px; margin-left: 0px">
          Despre Noi
        </h2>
        Bine ați venit la Pet Paradise, locul unde iubirea pentru animale și
        grija pentru bunăstarea lor se împletesc armonios! Suntem o echipă de
        profesioniști dedicați, pasionați de tot ceea ce înseamnă îngrijirea și
        fericirea prietenilor noștri necuvântători.
        <h2 style="font-size: 25px; margin: 10px; margin-left: 0px">
          Cine Suntem?
        </h2>
        Pet Paradise este mai mult decât un simplu magazin pentru animale de
        companie. Suntem o familie unită de dragostea pentru animale și dorința
        de a le oferi cele mai bune condiții de viață. Cu o experiență de peste
        10 ani în domeniu, ne-am dedicat să aducem pe piață produse de calitate
        superioară și servicii excepționale pentru animalele voastre de
        companie.
      </div>

      <video
        style="margin-top: 40px; width: 30%; max-width: 500px; min-width: 300px"
        controls
        poster="resurse/images/cat.jpg"
        src="resurse/videos/dogs.mp4"
      >
        <track
          src="resurse/videos/captions-dogs-en.vtt"
          kind="captions"
          srclang="en"
          label="English"
        />
        <track
          src="resurse/videos/captions-dogs.vtt"
          kind="captions"
          srclang="ro"
          label="Romanian"
          default
        />
      </video>
    </div>
    <%- include("../fragmente/footer.ejs"); %> <%-
    include("../fragmente/scripts.ejs"); %>
  </body>
</html>
