<!DOCTYPE html>
<html lang="en">
  <%- include("../fragmente/head.ejs"); %>

  <body style="overflow-x: hidden">
    <%- include("../fragmente/header.ejs"); %> <%-
    include("../fragmente/fixed-elements.ejs"); %>

    <div>
      <img src="resurse/Recomandari/Recomandari -3.jpg" alt="recomandari3" />
      <img src="resurse/Recomandari/Recomandari-1.webp" alt="recomandari1" />
      <img src="resurse/Recomandari/Recomandari-2.jpg" alt="recomandari2" />
    </div>

    <%- include("../fragmente/footer.ejs"); %> <%-
    include("../fragmente/scripts.ejs"); %>
  </body>
</html>
